<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Eclipse Process Framework Web Application</display-name>
  <security-constraint>
     <web-resource-collection>
         <web-resource-name>EPF-webapp</web-resource-name>
         <url-pattern>/webapp/*</url-pattern>
         <url-pattern>/javax.faces.push/*</url-pattern>
         <url-pattern>/query/*</url-pattern>
     </web-resource-collection>
     <auth-constraint>
         <role-name>Any_Role</role-name>
     </auth-constraint>
  </security-constraint>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>webapp/index.html</welcome-file>
  </welcome-file-list>
	<context-param>
		<param-name>javax.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- <context-param>
	    <param-name>javax.faces.CLIENT_WINDOW_MODE</param-name>
	    <param-value>url</param-value>
	</context-param>
	<session-config>
		<session-timeout>30</session-timeout>
		<tracking-mode>SSL</tracking-mode>
	</session-config> -->
	<context-param>
	    <param-name>primefaces.THEME</param-name>
	    <param-value>none</param-value>
	</context-param>
	<error-page>
		<error-code>404</error-code>
		<location>/webapp/404.html</location>
	</error-page>
</web-app>