/EPF-ejb/build/
/EPF-ejb/dist/
/OpenUP/build/
/OpenUP/OpenUP-ejb/build/
/OpenUP/OpenUP-ejb/dist/
/OpenUP/OpenUP-war/dist/
/OpenUP/dist/
/OpenUP/target/
/OpenUP/OpenUP-web/target/
/OpenUP/OpenUP-test/target/
/OpenUP/OpenUP-assembly/target/
/OpenUP/OpenUP-service/target/
