<server description="production server">

    <!-- Enable features -->
    <featureManager>
        <feature>microProfile-3.3</feature>
        <feature>jpa-2.2</feature>
        <feature>mpGraphQL-1.0</feature>
        <!--<feature>sessionCache-1.0</feature>-->
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="localhost"
                  httpPort="8080"
                  httpsPort="8443" />

    <application location="OpenUP-web-1.0.0.war" />
    <application location="OpenUP-service-1.0.0.war">
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    
    <!-- H2 Library Configuration -->
    <library id="H2JDBCLib">
        <fileset dir="${shared.resource.dir}/openup" includes="h2*.jar"/>
    </library>
    
    <!-- OpenUP Library Configuration -->
    <library id="OpenUPLib">
        <fileset dir="${shared.resource.dir}/openup" includes="*.jar"/>
    </library>
    
    <library id="JCacheLib">
        <file name="${shared.resource.dir}/openup/hazelcast-all-4.0.3.jar"/>
    </library>
    
    <!-- uri="file://${server.config.dir}hazelcast.xml" -->
    <httpSessionCache libraryRef="JCacheLib" />
    
    <mpJwt 
        id="OpenUP"
        audiences ="http://localhost:8080/">
    </mpJwt>

    <dataSource id="epf" jndiName="jdbc/epf">
        <!-- Define the DataSource class names on the <jdbcDriver> element -->
        <jdbcDriver 
            javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" 
            libraryRef="H2JDBCLib" />
        <properties URL="jdbc:h2:~/EPF;SCHEMA=EPF;AUTO_SERVER=TRUE" />
    </dataSource>
    <dataSource id="openup" jndiName="jdbc/openup">
        <!-- Define the DataSource class names on the <jdbcDriver> element -->
        <jdbcDriver 
            javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" 
            libraryRef="H2JDBCLib" />
        <properties URL="jdbc:h2:~/EPF;AUTO_SERVER=TRUE" />
    </dataSource>

</server>
