<server description="production server">

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-8.0</feature>
        <feature>microProfile-3.3</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="localhost"
                  httpPort="8080"
                  httpsPort="8443" />

    <application location="OpenUP-web-1.0-SNAPSHOT.war" />
    <application location="OpenUP-service-1.0-SNAPSHOT.war" />

</server>
