<server description="test server">

    <!-- Enable features -->
    <featureManager>
        <feature>microProfile-3.3</feature>
        <feature>mpGraphQL-1.0</feature>
        <feature>mpContextPropagation-1.0</feature>
        <feature>mpReactiveMessaging-1.0</feature>
        <feature>sessionCache-1.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>batch-1.0</feature>
        <feature>batchManagement-1.0</feature>
        <feature>wasJmsServer-1.0</feature>
        <feature>wasJmsClient-2.0</feature>
        <feature>beanValidation-2.0</feature>
        <feature>jpa-2.2</feature>
        <feature>websocket-1.1</feature>
        <feature>jca-1.7</feature>
        <feature>jsf-2.3</feature>
    </featureManager>
    
	<variable name="io.openliberty.enableGraphQLUI" value="true" />
    <httpEndpoint id="defaultHttpEndpoint"
                  host="localhost"
                  httpPort="${httpPort}"
                  httpsPort="${httpsPort}" />
	<application id="EPF-schedule" name="EPF-schedule" context-root="schedule" location="EPF-schedule-1.0.0.war" startAfterRef="EPF-messaging" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application id="EPF-shell-schedule" name="EPF-shell-schedule" context-root="shell-schedule" location="EPF-shell-schedule-1.0.0.war" startAfterRef="EPF-messaging" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-batch" name="EPF-batch" context-root="batch" location="EPF-batch-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-script" name="EPF-script" context-root="script" location="EPF-script-1.0.0.war" >
        <classloader classProviderRef="jppf" apiTypeVisibility="spec,ibm-api,api,stable,third-party"/>
    </application>
	<application id="EPF-config" name="EPF-config" context-root="config" location="EPF-config-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-registry" name="EPF-registry" context-root="registry" location="EPF-registry-1.0.0.war" startAfterRef="EPF-config" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-management" name="EPF-management" context-root="management" location="EPF-management-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-messaging" name="EPF-messaging" context-root="messaging" location="EPF-messaging-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-logging" name="EPF-logging" context-root="logging" location="EPF-logging-1.0.0.war" startAfterRef="EPF-messaging" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application id="EPF-lang" name="EPF-lang" context-root="lang" location="EPF-lang-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application id="EPF-cache" name="EPF-cache" context-root="cache" location="EPF-cache-1.0.0.war" startAfterRef="EPF-messaging,EPF-security" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-file" name="EPF-file" context-root="file" location="EPF-file-1.0.0.war" startAfterRef="EPF-messaging" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application id="EPF-image" name="EPF-image" context-root="image" location="EPF-image-1.0.0.war" >
        <classloader commonLibraryRef="OpenCVLib"/>
    </application>
    <application id="EPF-rules" name="EPF-rules" context-root="rules" location="EPF-rules-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-planning" name="EPF-planning" context-root="planning" location="EPF-planning-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application id="EPF-net" name="EPF-net" context-root="net" location="EPF-net-1.0.0.war" startAfterRef="EPF-messaging" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application id="EPF-schema" name="EPF-schema" context-root="schema" location="EPF-schema-1.0.0.war">
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application id="EPF-security" name="EPF-security" context-root="security" location="EPF-security-1.0.0.war" startAfterRef="EPF-schema" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    
    <webAppSecurity allowAuthenticationFailOverToAuthMethod="APP_DEFINED" />
    
    
    <!-- EPF Library Configuration -->
    <library id="EPFLib">
        <fileset dir="${shared.resource.dir}/epf" includes="*.jar"/>
    </library>
    
    <library id="JCacheLib">
        <file name="${shared.resource.dir}/epf/cache/hazelcast-3.12.12.jar"/>
    </library>
    
    <library id="OpenCVLib">
        <file name="${opencv_java}"/>
        <file name="${opencv_core}"/>
    </library>
    
    <httpSessionCache libraryRef="JCacheLib" uri="file:${server.config.dir}hazelcast-config.xml">
    	<!--<properties hazelcast.config.location="file:${server.config.dir}hazelcast-config.xml" hazelcast.jcache.provider.type="member"/>-->
    </httpSessionCache>
    
    <mpJwt 
        id="EPF"
        audiences ="http://localhost:${httpPort}/,https://localhost:${httpsPort}/,http://localhost/,https://localhost/,http://localhost:${httpWebPort}/,https://localhost:${httpsWebPort}/,http://localhost:${portalPort}/,https://localhost:${gatewayPort}/"
        ignoreApplicationAuthMethod="false" 
        contentEncryptionAlgorithm="A256GCM" 
        keyManagementKeyAlgorithm="RSA-OAEP"
        jwkEnabled="true"/>

	<!-- H2 Library Configuration -->
    <library id="H2JDBCLib">
        <fileset dir="${shared.resource.dir}/epf/security" includes="*.jar"/>
    </library>

	<dataSource id="epf" jndiName="jdbc/epf">
        <jdbcDriver libraryRef="MySQLJDBCLib"/>
    	<properties serverName="localhost" portNumber="3306" user="epf" password="Password1234****" />
    </dataSource>
    
    <library id="MySQLJDBCLib">
        <fileset dir="${shared.resource.dir}/epf/persistence" includes="*.jar"/>
    </library>
    
    <dataSource id="epf_schema" jndiName="jdbc/epf_schema">
        <jdbcDriver libraryRef="MySQLJDBCLib"/>
    	<properties serverName="localhost" portNumber="3306" user="epf" password="Password1234****" />
    </dataSource>
	<dataSource id="epf_security_schema" jndiName="jdbc/epf_security_schema">
        <jdbcDriver 
            javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" 
            libraryRef="H2JDBCLib" />
        <properties URL="jdbc:h2:~/EPF-security;AUTO_SERVER=TRUE;AUTO_RECONNECT=TRUE" user="test" password="123456" />
    </dataSource>
	<dataSource id="epf_delivery_processes" jndiName="jdbc/epf_delivery_processes">
        <jdbcDriver libraryRef="MySQLJDBCLib"/>
    	<properties serverName="localhost" portNumber="3306" />
    </dataSource>
    <dataSource id="epf_roles" jndiName="jdbc/epf_roles">
        <jdbcDriver libraryRef="MySQLJDBCLib"/>
    	<properties serverName="localhost" portNumber="3306" />
    </dataSource>
    <dataSource id="epf_tasks" jndiName="jdbc/epf_tasks">
        <jdbcDriver libraryRef="MySQLJDBCLib"/>
    	<properties serverName="localhost" portNumber="3306" />
    </dataSource>
    <dataSource id="epf_work_products" jndiName="jdbc/epf_work_products">
        <jdbcDriver libraryRef="MySQLJDBCLib"/>
    	<properties serverName="localhost" portNumber="3306" />
    </dataSource>
    <dataSource id="openup" jndiName="jdbc/openup">
        <jdbcDriver libraryRef="MySQLJDBCLib"/>
    	<properties serverName="localhost" portNumber="3306" />
    </dataSource>
    <dataSource id="ft" jndiName="jdbc/ft">
        <jdbcDriver libraryRef="MySQLJDBCLib"/>
    	<properties serverName="localhost" portNumber="3306" />
    </dataSource>
    <dataSource id="epf_net" jndiName="jdbc/epf_net">
        <jdbcDriver libraryRef="MySQLJDBCLib"/>
    	<properties serverName="localhost" portNumber="3306" />
    </dataSource>
	<dataSource id="epf_security" jndiName="jdbc/epf_security">
        <jdbcDriver 
            javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" 
            libraryRef="H2JDBCLib" />
        <properties URL="jdbc:h2:~/EPF-security;AUTO_SERVER=TRUE;AUTO_RECONNECT=TRUE;PASSWORD_HASH=TRUE" />
    </dataSource>
    <dataSource id="epf_cache" jndiName="jdbc/epf_cache">
        <jdbcDriver 
            javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" 
            libraryRef="H2JDBCLib" />
        <properties URL="jdbc:h2:~/EPF-cache;AUTO_SERVER=TRUE;AUTO_RECONNECT=TRUE" user="test" password="123456" />
    </dataSource>

    <keyStore id="defaultKeyStore" password="password"/>
    
    <messagingEngine>
        <!-- queue for batch jms message. -->
        <queue id="batchEPFQueue" 
                forceReliability="ReliablePersistent" 
                receiveAllowed="true"/>
    </messagingEngine>
    <batchJmsDispatcher />
    <jmsConnectionFactory id="batchConnectionFactory" 
                          jndiName="jms/batch/connectionFactory">
            <properties.wasJms remoteServerAddress="localhost:7276:BootstrapBasicMessaging">
            </properties.wasJms>
    </jmsConnectionFactory>
    <jmsQueue id="batchJobSubmissionQueue" 
             jndiName="jms/batch/jobSubmissionQueue">
            <properties.wasJms deliveryMode="Persistent" 
                               queueName="batchEPFQueue">
            </properties.wasJms>
    </jmsQueue>
    <batchJmsExecutor />
    <jmsActivationSpec id="batchActivationSpec" >
        <properties.wasJms destinationRef="batchJobSubmissionQueue"
                           messageSelector="com_ibm_ws_batch_applicationName = 'EPF-batch'"
                           destinationType="javax.jms.Queue"
                           remoteServerAddress="localhost:7276:BootstrapBasicMessaging">
        </properties.wasJms>
    </jmsActivationSpec>
    <batchJmsEvents />
	<logging />
	<resourceAdapter id="jppf" location="${server.config.dir}/jppf_ra_OpenLiberty.rar">
		<classloader apiTypeVisibility="+third-party"/>
	</resourceAdapter>
	<connectionFactory jndiName="eis/JPPFConnectionFactory">
		<properties.jppf ConfigurationSource="classpath|jppf.properties"/>
	</connectionFactory>
</server>