<server description="test server">

    <!-- Enable features -->
    <featureManager>
        <feature>microProfile-3.3</feature>
        <feature>mpGraphQL-1.0</feature>
        <feature>mpContextPropagation-1.0</feature>
        <feature>mpReactiveMessaging-1.0</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>batch-1.0</feature>
        <feature>batchManagement-1.0</feature>
        <feature>wasJmsServer-1.0</feature>
        <feature>wasJmsClient-2.0</feature>
        <feature>beanValidation-2.0</feature>
        <feature>jpa-2.2</feature>
        <feature>websocket-1.1</feature>
        <feature>jca-1.7</feature>
        <feature>jsf-2.3</feature>
        <feature>javaMail-1.6</feature>
    </featureManager>
    
	<variable name="io.openliberty.enableGraphQLUI" value="true" />
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${httpPort}"
                  httpsPort="-1" />
	<application id="EPF-schedule" name="EPF-schedule" context-root="schedule" location="EPF-schedule-1.0.0.war">
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-batch" name="EPF-batch" context-root="batch" location="EPF-batch-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-script" name="EPF-script" context-root="script" location="EPF-script-1.0.0.war" >
        <classloader classProviderRef="jppf" apiTypeVisibility="spec,ibm-api,api,stable,third-party"/>
    </application>
	<application id="EPF-management" name="EPF-management" context-root="management" location="EPF-management-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-file" name="EPF-file" context-root="file" location="EPF-file-1.0.0.war">
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application id="EPF-mail" name="EPF-mail" context-root="mail" location="EPF-mail-1.0.0.war">
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application id="EPF-image" name="EPF-image" context-root="image" location="EPF-image-1.0.0.war" >
        <classloader commonLibraryRef="OpenCVLib"/>
    </application>
    <application id="EPF-rules" name="EPF-rules" context-root="rules" location="EPF-rules-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
	<application id="EPF-planning" name="EPF-planning" context-root="planning" location="EPF-planning-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application id="EPF-security" name="EPF-security" context-root="security" location="EPF-security-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application id="EPF-security-management" name="EPF-security-management" context-root="security-management" location="EPF-security-management-1.0.0.war" >
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    
    <webAppSecurity allowAuthenticationFailOverToAuthMethod="APP_DEFINED" />
    
    
    <!-- EPF Library Configuration -->
    <library id="EPFLib">
        <fileset dir="${shared.resource.dir}/epf" includes="*.jar"/>
    </library>
    
    <library id="OpenCVLib">
        <file name="${opencv_java}"/>
        <file name="${opencv_core}"/>
    </library>
    
    <mpJwt 
        id="EPF"
        audiences ="https://localhost:8443/,https://localhost/"
        ignoreApplicationAuthMethod="false" 
        contentEncryptionAlgorithm="A256GCM" 
        keyManagementKeyAlgorithm="RSA-OAEP"
        jwkEnabled="true"/>
        
    <mailSession>
	    <mailSessionID>gmailSMTPSession</mailSessionID>
	    <jndiName>mail/gmailSMTPSession</jndiName>
	    <description>EPF Gmail SMTP Session</description>
	    <storeProtocol>imaps</storeProtocol>
	    <transportProtocol>smtp</transportProtocol>
	    <host>smtp.gmail.com</host>
	    <user>kimduquan01@gmail.com</user>
	    <password>mkaknpzvynipbphi</password>
	    <from>kimduquan01@gmail.com</from>
	    <property name="mail.imap.host" value="imap.gmail.com" />
	    <property name="mail.smtp.port" value="587" />
	    <property name="mail.smtp.auth" value="true" />
	    <property name="mail.smtp.starttls.enable" value="true" />
	</mailSession>

	<!-- H2 Library Configuration -->
    <library id="H2JDBCLib">
        <fileset dir="${shared.resource.dir}/epf/security" includes="*.jar"/>
    </library>
    
    <library id="PostgreSQLJDBCLib">
        <fileset dir="${shared.resource.dir}/epf/persistence" includes="*.jar"/>
    </library>
    
    <dataSource id="epf_schema" jndiName="jdbc/epf_schema">
        <jdbcDriver libraryRef="PostgreSQLJDBCLib"/>
	    <properties.postgresql serverName="localhost" portNumber="5432"
	                databaseName="epf"
	                user="postgres"
	                password="090323508"/>
    </dataSource>
	<dataSource id="epf_security_management" jndiName="jdbc/epf_security_management">
        <jdbcDriver 
            javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" 
            libraryRef="H2JDBCLib" />
        <properties URL="jdbc:h2:${userHome}EPF-security;AUTO_SERVER=TRUE;AUTO_RECONNECT=TRUE;PASSWORD_HASH=TRUE" user="test" password="22ddf5abe1672b3d6c12fe7387ecc15e2ff0f405595dd756111b17d29b5f4486" />
    </dataSource>
	<dataSource id="epf_security" jndiName="jdbc/epf_security">
        <jdbcDriver 
            javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" 
            libraryRef="H2JDBCLib" />
        <properties URL="jdbc:h2:${userHome}EPF-security;AUTO_SERVER=TRUE;AUTO_RECONNECT=TRUE;PASSWORD_HASH=TRUE" />
    </dataSource>
    <dataSource id="epf_security_principal" jndiName="jdbc/epf_security_principal">
        <jdbcDriver 
            javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" 
            libraryRef="H2JDBCLib" />
        <properties URL="jdbc:h2:${userHome}EPF-security;AUTO_SERVER=TRUE;AUTO_RECONNECT=TRUE;PASSWORD_HASH=TRUE" user="test" password="22ddf5abe1672b3d6c12fe7387ecc15e2ff0f405595dd756111b17d29b5f4486" />
    </dataSource>

    <keyStore id="defaultKeyStore" password="password"/>
    <ssl id="defaultSSLConfig"
      keyStoreRef="defaultKeyStore"
      trustDefaultCerts="true" />
    
    <messagingEngine>
        <!-- queue for batch jms message. -->
        <queue id="batchEPFQueue" 
                forceReliability="ReliablePersistent" 
                receiveAllowed="true"/>
    </messagingEngine>
    <batchJmsDispatcher />
    <jmsConnectionFactory id="batchConnectionFactory" 
                          jndiName="jms/batch/connectionFactory">
            <properties.wasJms remoteServerAddress="localhost:7276:BootstrapBasicMessaging">
            </properties.wasJms>
    </jmsConnectionFactory>
    <jmsQueue id="batchJobSubmissionQueue" 
             jndiName="jms/batch/jobSubmissionQueue">
            <properties.wasJms deliveryMode="Persistent" 
                               queueName="batchEPFQueue">
            </properties.wasJms>
    </jmsQueue>
    <batchJmsExecutor />
    <jmsActivationSpec id="batchActivationSpec" >
        <properties.wasJms destinationRef="batchJobSubmissionQueue"
                           messageSelector="com_ibm_ws_batch_applicationName = 'EPF-batch'"
                           destinationType="javax.jms.Queue"
                           remoteServerAddress="localhost:7276:BootstrapBasicMessaging">
        </properties.wasJms>
    </jmsActivationSpec>
    <batchJmsEvents />
	<logging />
	<resourceAdapter id="jppf" location="${server.config.dir}/jppf_ra_OpenLiberty.rar">
		<classloader apiTypeVisibility="+third-party"/>
	</resourceAdapter>
	<connectionFactory jndiName="eis/JPPFConnectionFactory">
		<properties.jppf ConfigurationSource="classpath|jppf.properties"/>
	</connectionFactory>
</server>