<server description="test server">

    <!-- Enable features -->
    <featureManager>
        <feature>webProfile-8.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="localhost"
                  httpPort="${httpPort}"
                  httpsPort="${httpsPort}" />

    <application id="EPF-web" name="EPF-web" context-root="web" location="EPF-web-1.0.0.war" />

</server>
