<server description="test server">

    <!-- Enable features -->
    <featureManager>
        <feature>microProfile-3.3</feature>
        <feature>jpa-2.2</feature>
        <feature>mpGraphQL-1.0</feature>
        <feature>mpContextPropagation-1.0</feature>
        <!--<feature>sessionCache-1.0</feature>-->
        <feature>transportSecurity-1.0</feature>
        <feature>batch-1.0</feature>
        <feature>batchManagement-1.0</feature>
        
        <feature>webProfile-8.0</feature>
        
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="localhost"
                  httpPort="${httpPort}"
                  httpsPort="${httpsPort}" />

    <application name="OpenUP-service" context-root="service" location="OpenUP-service-1.0.0.war">
        <classloader apiTypeVisibility="+third-party"/>
    </application>
    <application name="OpenUP-gateway" context-root="gateway" location="OpenUP-gateway-1.0.0.war" />
    <application name="OpenUP-web" context-root="web" location="OpenUP-web-1.0.0.war" />
    
    <!-- H2 Library Configuration -->
    <library id="H2JDBCLib">
        <fileset dir="${shared.resource.dir}/openup" includes="h2*.jar"/>
    </library>
    
    <!-- OpenUP Library Configuration -->
    <library id="OpenUPLib">
        <fileset dir="${shared.resource.dir}/openup" includes="*.jar"/>
    </library>
    
    <library id="JCacheLib">
        <file name="${shared.resource.dir}/openup/hazelcast-all-4.0.3.jar"/>
    </library>
    
    <!-- uri="file://${server.config.dir}hazelcast.xml" -->
    <httpSessionCache libraryRef="JCacheLib" />
    
    <mpJwt 
        id="OpenUP"
        audiences ="http://localhost:${httpPort}/,https://localhost:${httpsPort}/">
    </mpJwt>

    <dataSource id="epf" jndiName="jdbc/epf">
        <!-- Define the DataSource class names on the <jdbcDriver> element -->
        <jdbcDriver 
            javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" 
            libraryRef="H2JDBCLib" />
        <properties URL="jdbc:h2:~/EPF_test;SCHEMA=EPF;AUTO_SERVER=TRUE;PASSWORD_HASH=TRUE;AUTO_RECONNECT=TRUE" />
    </dataSource>
    <dataSource id="openup" jndiName="jdbc/openup">
        <!-- Define the DataSource class names on the <jdbcDriver> element -->
        <jdbcDriver 
            javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
            javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource" 
            libraryRef="H2JDBCLib" />
        <properties URL="jdbc:h2:~/EPF_test;SCHEMA=OPENUP;AUTO_SERVER=TRUE;PASSWORD_HASH=TRUE;AUTO_RECONNECT=TRUE" />
    </dataSource>

    <keyStore id="defaultKeyStore" password="password"/>
</server>
